<hr>
  <h2></h2>
<hr>
  <p>Dealership Name: <%= @shop.name %></p>
<hr>
  <p>Dealer Cash: £<%= @shop.till %></p>
  <a href="/shops/<%= @shop.id %>/edit">Edit Dealership Details</a>
<hr>

  <p>Cars in Stock</p>
  <% for car in @cars %>
  <ul>
    <li><%= car.make %></li>
    <br>
    <li><%= car.model %></li>
    <br>
    <br>
  </ul>
  <% end %>

  <form action="/shops/<%= @shop.id %>/delete" method="post">
    <input type="submit" value="Delete Dealership">
</form>
