<hr>
  <h2>Dealership Details</h2>
  <h3>Dealership Name: <%= @shop.name %></h3>
  <h3>Dealer Cash: £<%= @shop.till %></h3>
<br>

<h2>Cars in Stock</h2>
<div class="table">
  <table>
    <tr>
      <th>ID</th>
      <th>Make</th>
      <th>Model</th>
      <th>Price</th>
      <th></th>
    </tr>
    <% for car in @cars %>
    <tr>
      <td><%= car.id %></td>
      <td><%= car.make %></td>
      <td><%= car.model %></td>
      <td>£<%= car.price %></td>
      <td><a href="/cars/<%= car.id %>">View</a></td>
    </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td><b>Stock Value</b></td>
      <td>£<%= @shop.value %></td>
      <td></td>
    </tr>
  </table>

</div>

<br>

<div class="btn">
  <a href="/shops/<%= @shop.id %>/edit">Edit Dealership Details</a>
</div>
<br>

<div class="btn">
  <form action="/shops/<%= @shop.id %>/delete" method="post">
    <input class="delete" type="submit" value="Delete Dealership">
  </form>
</div>
