<h1>Cars in Stock (All Dealerships)</h1>

  <div class="btn">
    <form action="/cars/new" method="get">
      <input class="submit" type="submit" value="Add a New Car">
    </form>
  </div>

  <div class="table">
    <table style="width:50%">
      <tr>
        <th>Car ID</th>
        <th>Make</th>
        <th>Model</th>
        <th>Price</th>
        <th>Dealership</th>
      </tr>
    <% for car in @cars %>
    <tr>
      <td><a href="/cars/<%= car.id %>"><%= car.id %></a></td>
      <td><%= car.make %></td>
      <td><%= car.model %></td>
      <td>£<%= car.price %></td>
      <td><a href="/shops/<%= car.shop_id %>"><%= car.shop %></a></td>
    </tr>
    <% end %>
</table>
</div>
