
<div class="wrapper">
  <h2>Car <%= @car.id %></h2>

  <p>Make: <%= @car.make %></p>

  <p>Model: <%= @car.model %></p>

  <p>Style: <%= @car.style%></p>

  <p>Price: £<%= @car.price%></p>
  <div class="btn">
    <form action="/cars/<%= @car.id %>/delete" method="post">
      <input class="delete" type="submit" value="Delete Car">
    </form>
  </div>
</div>

<br>
  <div class="btn">
    <a href="/cars/<%= @car.id %>/edit">Edit Car Details</a>
  </div>
