<h2>Customer <%= @customer.id %> Details</h2>
<br>
<table>
  <tr>
    <th>ID</th>
    <th>Customer Name</th>
    <th>Email</th>
    <th>Previous Brand</th>
    <th>Budget</th>
  </tr>
  <tr>
    <td><%= @customer.id %></td>
    <td><%= @customer.name %></td>
    <td><%= @customer.email %></td>
    <td><%= @customer.previous_brand %></td>
    <td>£<%= @customer.budget %></td>
    <td><a href="/customers/<%= @customer.id %>/edit">Edit</a></td>
    <td><form class="" action="/customers/<%= @customer.id %>/delete" method="post">
      <input type="submit" value="Delete"></td>
  </tr>
</table>
<br>

</form>
